@import "tailwindcss";

/* Add lazy-loading styles for images */
img {
  display: block;
  max-width: 100%;
  height: auto;
  loading: lazy;
  background-image: url("./assets/react.svg");
}

/* Example reference to react.svg */

.loader {
  border: 8px solid #f3f3f3; /* Light grey */
  border-top: 8px solid #000000; /* Blue */
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
